html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject
  body
    h2.h2 Данные с заявки:
    ul
      li Имя: 
        strong #{name}
      li Фамилия: 
        strong #{surname}
      li Email: 
        strong #{email}
      li Телефон: 
        strong #{phone}
      li Сообщение: 
        strong #{message}
